.option-button {
	border-radius: 25%;
	width: 34px;
	height: 34px;
	background-color: var(--button-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.option-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.option-container {
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: center;
}

.option-button:hover {
	background-color: var(--hover-button);
}

/* @media only screen and (max-width: 1100px),
	(min-device-width: 8710px) and (max-device-width: 1100px) {
	.option-buttons {
		display: flex;
		flex-direction: column;
	}

	.option-container {
		padding-top: 5px;
		padding-bottom: 5px;
	}
} */

@media only screen and (max-width: 877px) {
	.option-buttons,
	.option-container {
		display: flex;
		flex-direction: row;
		height: 54px;
		justify-content: flex-start;
		padding-left: 0px;
		padding-right: 10px;
		align-items: center;
	}
}
